/* .header {
  height: 84px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  padding-top: var(--mantine-spacing-lg);
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainLinks {
  margin-right: calc(var(--mantine-spacing-sm) * -1);
}

.mainLink {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  padding: 7px var(--mantine-spacing-sm);
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition:
    border-color 100ms ease,
    color 100ms ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
  }

  &[data-active] {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-bottom-color: var(--mantine-color-blue-6);
  }
}

.secondaryLink {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-xs);
  text-transform: uppercase;
  transition: color 100ms ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
  }
}

.search {
  width: 95%; 
} 
*/

.header {
    height: 84;
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.topRow {
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchRow {
  padding: var(--mantine-spacing-xs) 0;
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.search {
  width: 100%;
}

.mainLinks {
  gap: var(--mantine-spacing-md);
}

.mainLink {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-weight: 700;
  padding: 7px var(--mantine-spacing-sm);
  border-bottom: 2px solid transparent;
  transition: border-color 100ms ease, color 100ms ease;
}

.mainLink[data-active] {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-bottom-color: var(--mantine-color-blue-6);
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  }

  @media (max-width: mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

